<!DOCTYPE html>
<html>
<head>
    <title>Video and Audio Capture BY Pradeep Saini</title>
</head>
<style>
    h1{
        text-align: center; 
        
    }
    video{
       
        margin-left: 25%;
        margin-top: 2%;
        border: 1px solid black;
        border-radius: 10px;
    }
    #startButton{
        margin-left: 42%;
    }
</style>
<body>
    <h1>Video and Audio Capture</h1>
    {% if a %}
    <h1>Video Saved Successfully</h1>
    {% endif %}
    <video id="videoElement" width="640" height="480" autoplay></video>
    <button id="startButton">Start Recording</button>
    <button id="stopButton" disabled>Stop Recording</button>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
